<ion-view view-title="{{title}}">
    <ion-nav-bar class="bar-balanced nav-title-slide-ios">
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="padding">
        <div class="row">
            <div class="col-80 col-offset-10">
                <img ng-src="{{avatarPath()}}" ng-click="generateComment()" style="width:100%;">
            </div>
        </div>
    </ion-content>
</ion-view>
