<ion-view view-title="{{title}}">
    <ion-nav-bar class="bar-balanced nav-title-slide-ios">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios-arrow-back"></i></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">
        <div class="row">
            <div class="col-80 col-offset-10">
                <img ng-src="{{avatarPath()}}" ng-click="generateComment()" style="width:100%;">
            </div>
        </div>


        <!-- CARD FRASE -->
        <div class="card" ng-if="isComentario(actualComment.type)">
            <div class="item item-divider">
                {{actualComment.header}}
            </div>
            <div class="item item-text-wrap">
                {{actualComment.title}}
            </div>
        </div>

        <!-- CARD PREGUNTA text -->
        <div class="list card" ng-if="isInfoText(actualComment.type)">
            <div class="item item-divider">
                Pregunta
            </div>
            <div class="item item-text-wrap">
                {{actualComment.title}}
                <label class="item item-input">
                    <input type="text" placeholder="{{actualComment.placeholder}}">
                </label>
            </div>
            <div class="button-bar">
                <a class="button button-stable icon-left ion-close-round">Eliminar</a>
                <a class="button button-balanced icon-left ion-checkmark-round">Aceptar</a>
            </div>
        </div>

        <!-- CARD PREGUNTA number -->
        <div class="list card" ng-if="isInfoNumber(actualComment.type)">
            <div class="item item-divider">
                Pregunta
            </div>
            <div class="item item-text-wrap">
                {{actualComment.title}}
                <label class="item item-input">
                    <input type="number" placeholder="{{actualComment.placeholder}}">
                </label>
            </div>
            <div class="button-bar">
                <a class="button button-stable icon-left ion-close-round">Eliminar</a>
                <a class="button button-balanced icon-left ion-checkmark-round">Aceptar</a>
            </div>
        </div>

        <!-- CARD PREGUNTA yes_no -->
        <div class="list card" ng-if="isInfoYesNo(actualComment.type)">
            <div class="item item-divider">
                Pregunta
            </div>
            <div class="item item-text-wrap">
                {{actualComment.title}}
            </div>
            <div class="button-bar">
                <a class="button button-stable icon-left ion-close-round">Eliminar</a>
                <a class="button button-stable">No</a>
                <a class="button button-balanced">Sí</a>
            </div>
        </div>

        <!-- CARD RETO -->
        <div class="card" ng-if="isReto(actualComment.type)">
            <div class="item item-divider">
                ¿Te atreves a...?
            </div>
            <div class="item item-text-wrap">
                {{actualComment.title}}
            </div>
            <div class="button-bar">
                <a class="button button-stable icon-left ion-close-round">No me atrevo</a>
                <a ng-click="acceptReto()" class="button button-balanced icon-left ion-checkmark-round">Lo intentaré</a>
            </div>
        </div>

        <!-- CARD FRASE -->
        <div class="card" ng-if="isSabiasQue(actualComment.type)">
            <div class="item item-divider">
                ¿Sabías que...?
            </div>
            <div class="item item-text-wrap">
                {{actualComment.title}}
            </div>
            <div class="button-bar">
                <a class="button button-stable icon-left ion-close-round">No me gusta</a>
                <a class="button button-balanced icon-left ion-checkmark-round">¡Gracias!</a>
            </div>
        </div>

    </ion-content>
</ion-view>
