<ion-navbar *navbar primary>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Detalles de logro</ion-title>
</ion-navbar>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
     <b>{{selectedItem.titulo}}</b>
     <ion-icon name="{{selectedItem.icono}}"></ion-icon>
     <br/>
     <div>
         {{selectedItem.descripcion}}
         <br/>
         <br/>
         <b>{{selectedItem.objetivo}} {{selectedItem.unidades}}</b>
         <br/>
         <br/>
         {{selectedItem.completado}} &#37; completado
     </div>
  </div>
</ion-content>
